.u-section-1 {
  background-image: none;
  padding: 50px 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 1641px;
  max-width: 1200px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  animation: fadeInUp 1s ease-in-out;
  margin: 0 15% 20px 5%;
}

.u-section-1 .u-image-1 {
  width: 253px;
  height: 253px;
  background-image: url("images/Screenshot2025-04-02155600.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: -88px auto 20px;
  animation: fadeInUp 1.2s ease-in-out;
}

.u-section-1 .u-list-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.u-section-1 .u-repeater-1 {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 30px;
  margin-top: 20px;
}

.u-section-1 .u-list-item-1, .u-section-1 .u-list-item-2, .u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 29px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
  animation: fadeInUp 1.5s ease-in-out;
}

.u-section-1 .u-container-layout-1, .u-section-1 .u-container-layout-2, .u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-icon-1, .u-section-1 .u-icon-2, .u-section-1 .u-icon-3 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-2, .u-section-1 .u-text-3, .u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: center;
}

.u-section-1 .u-text-5 {
  font-size: 1.2rem;
  line-height: 1.8;
  animation: fadeInUp 2s ease-in-out;
  margin: 40px auto;
  max-width: 900px;
  text-align: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin: 20px auto;
  }
  .u-section-1 .u-list-1 {
    gap: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1444px;
  }
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-top: 50px;
  }
  .u-section-1 .u-image-1 {
    margin-top: -80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 90%;
    margin-top: 20px;
  }
  .u-section-1 .u-image-1 {
    margin-top: -120px;
  }
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }
  .u-section-1 .u-text-1 {
    font-size: 1.75rem;
    margin-top: 20px;
  }
  .u-section-1 .u-image-1 {
    margin-top: -100px;
  }
  .u-section-1 .u-list-1 {
    margin-top: 20px;
    flex-direction: column;
  }
}
