 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 865px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 100%;
  width: 387px;
  height: 269px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0 81px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -220px 100px 0 691px;
}

.u-section-1 .u-countdown-1 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 50px 33px 0 auto;
  padding: 0 24px;
}

.u-section-1 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-message-1 {
  font-size: 2.25rem;
}

.u-section-1 .u-group-1 {
  width: 505px;
  background-image: linear-gradient(#1a1a1a, #404040);
  height: auto;
  min-height: 276px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 130px auto 0 22px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  width: 264px;
  margin: 38px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 22px 17px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: normal;
  border-style: solid;
  margin: 7px auto 0;
}

.u-section-1 .u-group-2 {
  background-image: linear-gradient(#1a1a1a, #404040);
  height: auto;
  min-height: 276px;
  width: 505px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -276px auto 60px 613px;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 10px 9px;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  width: 385px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 23px 0 0 7px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: normal;
  border-style: solid;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-1 .u-text-1 {
    text-align: center;
    margin-right: 0;
    margin-left: 590px;
  }

  .u-section-1 .u-countdown-1 {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-1 {
    margin-left: 11px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 0px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    margin-left: 424px;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 0px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1239px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 47px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 350px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 45px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 74px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 22px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 24px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-1 .u-image-1 {
    width: 260px;
    height: 179px;
    margin-top: 27px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-countdown-label-1 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-countdown-label-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-countdown-label-3 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-countdown-label-4 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-countdown-label-5 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-countdown-label-6 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-group-1 {
    width: 268px;
    min-height: 283px;
    margin-top: 73px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 226px;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-1 {
    letter-spacing: 3px;
    border-style: none;
    margin-top: 18px;
    padding: 6px 10px 7px;
  }

  .u-section-1 .u-group-2 {
    min-height: 277px;
    width: 260px;
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 34px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 22px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 18px;
    padding: 6px 24px 7px 23px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 392px;
}

.u-section-2 .u-list-1 {
  margin-top: 58px;
  margin-bottom: 58px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 41.3333px));
  min-height: 271px;
  --gap: 62px;
  grid-auto-columns: calc(33.3333% - 41.3333px);
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/cruzdiez2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 90px;
  width: 90px;
  margin: 14px auto 0;
  padding: 9px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 9px 9px 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  font-size: 1rem;
  margin: 9px 0 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/cruzdiez2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 90px;
  width: 90px;
  margin: 14px auto 0;
  padding: 9px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 9px 9px 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-weight: 700;
  font-size: 1rem;
  margin: 9px 0 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/cruzdiez2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px 30px 30px;
}

.u-section-2 .u-icon-3 {
  height: 90px;
  width: 90px;
  margin: 14px auto 0;
  padding: 9px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 3rem;
  margin: 9px 9px 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  font-weight: 700;
  font-size: 1rem;
  margin: 9px 0 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/cruzdiez2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 15px 30px 30px;
}

.u-section-2 .u-icon-4 {
  height: 90px;
  width: 90px;
  margin: 14px auto 0;
  padding: 9px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 3rem;
  margin: 9px 9px 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  font-weight: 700;
  font-size: 1rem;
  margin: 9px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 31px;
  width: 40px;
  height: 40px;
  top: 125px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 41.3333px) calc(33.3333% - 41.3333px) calc(33.3333% - 41.3333px);
    grid-gap: 62px;
    grid-auto-columns: calc(33.333333333333336% - 41.3333px);
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 31px) calc(50% - 31px);
    grid-auto-columns: calc(50% - 30.999975px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
    grid-gap: 0px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 14px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 14px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 14px;
  }

  .u-section-2 .u-gallery-nav-1 {
    left: 11px;
    top: 151px;
    padding: 6px;
  }

  .u-section-2 .u-gallery-nav-2 {
    left: auto;
    top: 154px;
    right: 4px;
    padding: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 230px;
    grid-auto-columns: 33.3333%;
    grid-template-columns: repeat(3, 33.3333%);
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 8px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 8px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.625rem;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 8px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.625rem;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 8px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.625rem;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 338px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 434px;
  margin: 62px auto 0 106px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/cruzdiezwp.jpg');
  background-position: 50% 50%;
  min-height: 224px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  width: 341px;
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  width: 390px;
  margin: 28px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: normal;
  margin: 19px auto 0;
}

.u-section-3 .u-layout-wrap-2 {
  width: 439px;
  margin: -224px 106px 53px auto;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/cruzdiezwp.jpg');
  background-position: 50% 50%;
  min-height: 224px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 19px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 1.875rem;
  margin: 0 40px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  margin: 28px 35px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: normal;
  margin: 19px auto 0;
}

.u-section-3 .u-layout-wrap-3 {
  width: 511px;
  margin: -224px 19px 60px auto;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/cruzdiezwp.jpg');
  background-position: 50% 50%;
  min-height: 224px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0 19px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 1.875rem;
  margin: 0 40px;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  margin: 28px 35px 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: normal;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 325px;
    margin-top: 60px;
    margin-left: 79px;
  }

  .u-section-3 .u-image-1 {
    min-height: 230px;
  }

  .u-section-3 .u-text-1 {
    width: 325px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 32px;
    margin-left: 19px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 14px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 321px;
    margin-top: -230px;
    margin-right: 79px;
  }

  .u-section-3 .u-image-2 {
    min-height: 230px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 11px;
  }

  .u-section-3 .u-text-3 {
    width: 241px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 9px;
  }

  .u-section-3 .u-layout-wrap-3 {
    width: 321px;
    margin-top: -230px;
    margin-right: 79px;
  }

  .u-section-3 .u-image-3 {
    min-height: 230px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 11px;
  }

  .u-section-3 .u-text-5 {
    width: 241px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 62px;
    margin-left: 25px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: -233px;
    margin-right: 12px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: -233px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: 92px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 325px;
    margin-top: 41px;
    margin-right: 92px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 40px;
    margin-right: 94px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: 15px;
  }

  .u-section-3 .u-image-1 {
    min-height: 220px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 26px;
    margin-right: 55px;
    margin-left: 59px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
    margin-right: 19px;
  }

  .u-section-3 .u-btn-1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.75rem;
    border-style: none;
    font-weight: 700;
    margin-top: 15px;
    padding: 6px 23px 7px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 270px;
    margin-top: 42px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 225px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-btn-2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.75rem;
    border-style: none;
    font-weight: 700;
    padding: 6px 23px 7px;
  }

  .u-section-3 .u-layout-wrap-3 {
    width: 270px;
    margin-top: 17px;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .u-section-3 .u-image-3 {
    min-height: 225px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    width: 166px;
  }

  .u-section-3 .u-text-6 {
    width: 251px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.75rem;
    border-style: none;
    font-weight: 700;
    margin-top: 11px;
    padding: 6px 23px 7px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/DALLE2023-03-1809.32.35-3drenderofarobotworkinginalaptopwithdarkbackground.png');
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1217px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(69,84,111,0.4);
  font-size: 3.75rem;
  text-transform: none;
  letter-spacing: normal;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  margin: 272px auto 0;
}

.u-section-4 .u-countdown-1 {
  margin: 28px auto 0;
}

.u-section-4 .u-countdown-counter-1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-4 .u-countdown-label-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
}

.u-section-4 .u-countdown-separator-1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-4 .u-countdown-counter-2 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-4 .u-countdown-label-2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
}

.u-section-4 .u-countdown-separator-2 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-4 .u-countdown-counter-3 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-4 .u-countdown-label-3 {
  font-size: 2.25rem;
  text-transform: uppercase;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
}

.u-section-4 .u-countdown-separator-3 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-4 .u-countdown-counter-4 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-4 .u-countdown-label-4 {
  font-size: 2.25rem;
  text-transform: uppercase;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
}

.u-section-4 .u-countdown-separator-4 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-4 .u-countdown-counter-5 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-4 .u-countdown-label-5 {
  font-size: 2.25rem;
  text-transform: uppercase;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
}

.u-section-4 .u-countdown-separator-5 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-4 .u-countdown-counter-6 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-4 .u-countdown-label-6 {
  font-size: 2.25rem;
  text-transform: uppercase;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 408px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-2 {
  margin: 16px -6px 0 126px;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  width: 92px;
  min-width: 68px;
  margin: -33px 183px 0 auto;
}

.u-section-4 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-4 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-4 .u-icon-3 {
  height: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 27px -110px 0 126px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-4 .u-countdown-1 {
    margin-top: 17px;
  }

  .u-section-4 .u-countdown-counter-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-countdown-separator-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-countdown-counter-2 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-countdown-separator-2 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-countdown-counter-3 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-countdown-separator-3 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-countdown-counter-4 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-countdown-separator-4 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-countdown-counter-5 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-countdown-separator-5 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-countdown-counter-6 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 646px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 26px;
  }

  .u-section-4 .u-social-icons-1 {
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 187px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-social-icons-1 {
    margin-right: 105px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 67px;
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-4 .u-countdown-1 {
    margin-top: 35px;
  }

  .u-section-4 .u-countdown-counter-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-countdown-separator-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-countdown-counter-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-countdown-separator-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-countdown-counter-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-countdown-separator-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-countdown-counter-4 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-countdown-separator-4 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-countdown-counter-5 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-countdown-separator-5 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-countdown-counter-6 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 432px;
    margin-bottom: 4px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 155px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 79px;
  }

  .u-section-4 .u-countdown-1 {
    padding: 0;
  }

  .u-section-4 .u-countdown-counter-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-countdown-label-1 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-countdown-separator-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-countdown-counter-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-countdown-label-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-countdown-separator-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-countdown-counter-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-countdown-label-3 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-countdown-separator-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-countdown-counter-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-countdown-label-4 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-countdown-separator-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-countdown-counter-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-countdown-label-5 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-countdown-separator-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-countdown-counter-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-countdown-label-6 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 376px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 105px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: -26px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 119px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
  }
}